<div *ngIf="rates">
  <div class="d-flex flex-column align-items-center">
    <div class="pb-3">
      <button class="px-4" (click)="redirectToForm()">Atualizar valor monetário</button>
    </div>
    <app-currency-display currency="BTC" value=1></app-currency-display>
    <div class="d-flex flex-row">
      <app-currency-display currency="USD" value="{{ rates?.USD?.rate_float }}"></app-currency-display>
      <app-currency-display currency="BRL" value="{{ rates?.BRL?.rate_float }}"></app-currency-display>
      <app-currency-display currency="EUR" value="{{ rates?.EUR?.rate_float }}"></app-currency-display>
      <app-currency-display currency="CAD" value="{{ rates?.CAD?.rate_float }}"></app-currency-display>
    </div>
  </div>
</div>
