<div>
	<h2>A página que você está tentando acessar não existe.</h2>

	<p>As urls válidas são:</p>
	<ul class="d-flex flex-column align-items-start">
		<li
			[routerLink]="['']"
			routerLinkActive="router-link-active"
			class="btn btn-link"
		>
			Home
		</li>
		<li
			[routerLink]="['login']"
			routerLinkActive="router-link-active"
			class="btn btn-link"
		>
			Login
		</li>
		<li
			[routerLink]="['atualizar']"
			routerLinkActive="router-link-active"
			class="btn btn-link"
		>
			Atualizar
		</li>
	</ul>
</div>
